<body>
    <div class="container " style="margin-top: 150px;">
        <h1>Animes Shounen</h1>
        <p class="mt-5" >O mangá shōnen é caracterizado por tramas de ação e muitas vezes humorísticas com protagonistas masculinos. Temas como artes marciais, mecha, ficção científica, esportes, terror e criaturas mitológicas são comuns nessas publicações.</p>

        <h2>Shōnen Jump</h2>
        <p class="mt-5">Weekly Shonen Jump, é uma revista semanal de mangás publicada pela editora Shueisha. É uma revista de mangás best-selling, como também um dos mais longos; a primeira edição foi lançada com a data de 1º de agosto de 1968 em sua capa</p>

        <h2>Shōnen Magazine</h2>
        <p class="mt-5">Weekly Shōnen Magazine, é uma revista semanal japonesa de mangás publicada pela Kodansha. Sua primeira edição foi lançada em 17 de março de 1959. Apesar de sua política de censura, seu público é constituído principalmente de estudantes colegiais e estudantes universitários do sexo masculino.</p>

        <h2>Shōnen Sunday</h2>
        <p class="mt-5">Shōnen Sunday é uma revista semanal de mangás do gênero shōnen, publicada pela Shogakukan. Embora seu nome contenha "Sunday", seu lançamento é dado na quarta-feira. A Shōnen Sunday foi publicada pela primeira vez em 17 de março de 1959 como uma resposta à sua rival, a revista Weekly Shōnen Magazine da Kodansha.</p>
    </div>
</body> 